// Heading Color
$heading-color: #8338ec;

// Text Color
$text-color: #8338ec;

// Default Background
$bg-default: #663a82;

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #131212;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #663a82;

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color #663a82
$secondary-color: #3c3c3c;